* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

html {
  min-height: 620px;
}

a {
  cursor: pointer;
}

a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

.app-container {
  min-height: 100vh;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1a1a1a;
  color: #f8dcc2;
  margin-bottom: 30px;
}

.content {
  margin-bottom: 100px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 70px;
  background-color: #1a1a1a;
  color: #f8dcc2;
}
